.exampleOne {
    background-color: beige;
    display: flex;
    /*ELEMENT WITH display:flex; property IS CALLED FLEX CONTAINER*/
    /*DIRECT CHILDREN OF FLEX CONTAINER ARE CALLED FLEX ITEMS*/
/* 
    This is default value
    flex-direction: row; */

    /* flex-direction:row-reverse; */

    /*Justify-content -POSITIONS THE FLEX ITEMS*/
    /*justify-content: space-between;*/
    /*justify-content: space-around;*/
    justify-content: space-evenly;
    /* justify-content: space-between; */
    /* flex-wrap:wrap; */
    /* justify-content:flex-start;
    justify-content: flex-end; */
    /* justify-content: center; */
    /* justify-content: space-between;  */
    /* justify-content: space-around; */
    /* justify-content:space-evenly; */

    /*GAP -LEAVES SPACE BETWEEN FLEX ITEMS*/
    gap: 10px;
    height: 250px;


    /*ALIGN ITEMS*/
    /*IMPORTANT : in order to use align-items the container should have positive remaining HEIGHT */
    /* align-items: flex-start; */ /*aligns them to the TOP*/
    /* align-items: flex-end; */        /* aligns them to the BOTTOM */
    align-items: center;                /* aligns them to the CENTER */
} 

.box {
    height: 100px;
    width: 100px;
    background-color: cadetblue;
    border: 1px solid black;
}

/* Example #2 */

.exampleTwo {
    background-color: beige;
    
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    gap: 10px;
    /* Only when we use flex-direction: column, and we want to center the items on the X axis we use justif-content; opposite of flex-direction:row usecase */
    align-items: center;
    height: 600px;

    /* Only when we use flex-direction: column, and we want to center the items on the Y axis we use align items; opposite of flex-direction:row use case */
    align-items: center;              /*   aligns them to the CENTER */

    /* align-items: flex-start; aligns them to the TOP */
     /* align-items: flex-end;         aligns them to the BOTTOM */
    
    height: 600px;



/* Only when we use flex-direction: column, and we want to center the items on the Y axis we use justify-content; */

     /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content: center; */
}




/* Example #3 */

.exampleThree {
    background-color: beige;
    display: flex;

    flex-wrap: wrap;
}

.addSection {
border: 1px solid red;
}

.addSection div {
    border: 1px solid blue
}