/* @font-face {
    font-family: "Doto";
    src: url("../fonts/Doto-VariableFont_ROND\,wght.ttf");
} */


/* @import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap'); */


* {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    /* font-family: 'Doto','Times New Roman', Times, serif; */
    /* font-family:'Edu+AU+VIC+WA+NT+Pre'; */
    box-sizing: border-box;
}

header {
    background-color: aquamarine;
}

h1 {
    display: inline-block;
}

nav {
    display: inline-block;
}

li {
    display: inline-block;

}


ul {
    text-transform: uppercase;
    list-style: none;
}

a {
    text-decoration: none;
}

a:link {
    background-color: antiquewhite;
    color: rgb(7, 165, 165);
}

a:visited {
    background-color: burlywood;
    color: cadetblue;
}

a:focus {
    background-color: brown;
}

a:active {
    background-color: yellow;
    color: red;
}

a:hover {
    text-decoration: dashed underline blue;
    background-color: crimson;
    color: white;
}

section {
    /* text-align: center; */
    vertical-align:-top;
}

p {
    /* font-size: xx-large; */
    font-size: medium;
    word-spacing: 10px;
    line-height: 20px;
    
}

.firstLorem {
    /* font-weight: bolder; */
    font-weight: 700; 
    font-style: oblique 10deg;
    /* text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: crimson; */

    text-decoration: dotted underline crimson;
    letter-spacing: 10px;

    text-shadow: 1px 1px 10px blue;

    /* float: right*/
    float: right; 
}

.secondparagraph::first-letter {
    font-size: large;
    color: rgb(113, 21, 21);
}

.secondparagraph::first-line {
   text-decoration: underline dotted blueviolet
}

/*POSITION: */

section {
    position: static;
    background-color: whitesmoke;
    border:2px dashed rgb(194, 166, 166);
    margin: 60px 0px;
    padding: 20px 50px;

}

span {
    display: inline-block;
    border: 2px solid lightcoral;
    padding: 20px;
}

.relative {
    position: relative;
    left: 200px; /*can move only within reserved space(left & right*/
    
}
/* position: absolute */
.absolute-parent {
    position:relative;
    padding: 80px 50px;;
}

.absolute-child {
    position: absolute;
    top: 100px;
    bottom: 0px;
    right: 0px;
}


/* position: fixed */
.fixed {
    position: fixed;
    bottom: 200px;
    right: 20px;
    background-color: coral;
    z-index: 998;
}

/* position: sticky */

.sticky h2 {
    position: sticky;
    background-color: aquamarine;
    padding: 20px;
    top: 0px;
}

/* float: */
.item {
    float: left;
    /* float:right; */
    padding-left: 10px;
}